In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [ ]:
raw_mail_data.head

<bound method NDFrame.head of      Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

<bound method NDFrame.head of      Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [ ]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#checking the number of rows and columns in the dataframe
mail_data.shape

(5572, 2)

LABEL ENCODING

In [ ]:
mail_data.loc[mail_data['Category'] == 'spam' , 'Category', ]= 0
mail_data.loc[mail_data['Category'] == 'ham' , 'Category', ]= 1

SPAM = 0
HAM = 1

In [ ]:
#separate dat as text and labels

In [ ]:
X = mail_data['Message']

Y = mail_data['Category']

print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [ ]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Splitting the data into training data and test data

In [ ]:
X_train , X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2,random_state = 3)

In [ ]:
print(X.shape)

(5572,)

In [ ]:
print("X train data is :-> -> -> \n", X_train.shape)

X train data is :-> -> ->
 (4457,)

In [ ]:
print("X test data is : -> -> -> \n ",X_test.shape)

X test data is : -> -> ->
  (1115,)

CONVERT TEXT data to number (feature EXTRACTION)

In [ ]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')

In [ ]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [ ]:
#data of y is stored as string 1:0 so convert all values in int

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [ ]:
print(X_train_features)

Training the mode

LOGISTIC REGRESSION

In [ ]:
model = LogisticRegression()

In [ ]:
#training the LOGISTIC REGRESSION MODEL with the training data

In [ ]:
model.fit(X_train_features, Y_train)

LogisticRegression()

EVALUATE the TRAINED MODEL

In [ ]:
#prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [ ]:
print("accuracy on trained data : ",accuracy_on_training_data)

accuracy on trained data :  0.9670181736594121

In [ ]:
#prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data= accuracy_score(Y_test, prediction_on_test_data)

In [ ]:
print("accuracy on test data :",accuracy_on_test_data)

accuracy on test data : 0.9659192825112107

BUILDING A PREDICTIVE SYSTEM

In [ ]:
input_mail = ["WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]
#convert the inputed mail to feature vectors

input_data_features = feature_extraction.transform(input_mail)

#predict 

prediction = model.predict(input_data_features)

print(prediction)




if prediction[0] == 1:
  print("HAM mail")
else:
  print("spam mail")

[0]
spam mail